<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleDisplayName</key>
	<string>$(APP_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>APP_NAME</key>
	<string>$(APP_NAME)</string>
	<key>APP_ENVIRONMENT</key>
	<string>$(APP_ENVIRONMENT)</string>
	<key>APP_STORE_ID</key>
	<string>$(APP_STORE_ID)</string>
	<key>APP_STORE_URL</key>
	<string>$(APP_STORE_URL)</string>
	<key>APP_STORE_REVIEW_URL</key>
	<string>$(APP_STORE_REVIEW_URL)</string>
	<key>ONESIGNAL_APP_ID</key>
	<string>$(ONESIGNAL_APP_ID)</string>
	<key>CRAZYBEE_WEBSITE_URL</key>
	<string>$(CRAZYBEE_WEBSITE_URL)</string>
	<key>CRAZYBEE_SUPPORT_URL</key>
	<string>$(CRAZYBEE_SUPPORT_URL)</string>
	<key>CRAZYBEE_ACCOUNT_URL</key>
	<string>$(CRAZYBEE_ACCOUNT_URL)</string>
	<key>CRAZYBEE_COMMITMENT_URL</key>
	<string>$(CRAZYBEE_COMMITMENT_URL)</string>
	<key>PRIVACY_POLICY_URL</key>
	<string>$(PRIVACY_POLICY_URL)</string>
	<key>TERMS_URL</key>
	<string>$(TERMS_URL)</string>
	<key>REMOTE_CONFIG_URL</key>
	<string>$(REMOTE_CONFIG_URL)</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Pillo utilise Face ID pour protéger l'accès à vos données de contraception.</string>
	<key>NSCameraUsageDescription</key>
	<string>Pillo utilise l'appareil photo pour essayer de reconnaître automatiquement ta plaquette (facultatif).</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>fr</string>
		<string>en</string>
		<string>es</string>
		<string>de</string>
		<string>pt</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>fr</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.lno.pillo.refresh</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pillo</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
